#ejercicioUno {
    display: block;
    text-align: center;
}

#ejercicioDos{
    display: none;
}

#ejercicioTres{
    position: absolute;
    left: 200px;
    top: 100px;
}

#ejercicioCuatro{
    position: fixed;
    top: 0;
}

#ejercicioCinco{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}


